{% extends 'Navbar/employernavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'path/to/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-left">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>Are you sure you want to delete "{{ job_details.work_title }}"?</p>
                    <form method="post" action="{% url 'employermodule:delete_job_details' job_details.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
