{% extends 'Navbar/projectnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% block body %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>alert ("{{ message }}")</script>
{% endif %}
{% endfor %}
{% endif %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="bodycontainer">
        <h1 class="text-center">Login Page</h1>
        <form method="post" action="{% url 'login1' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="username" style="font-weight: bold">Username:</label>
            <input type="text" class="form-control" name="username" placeholder="Enter the username">
          </div><br>
          <div class="form-group">
            <label for="password" style="font-weight: bold">Password:</label>
            <input type="password" class="form-control" name="password">
          </div><br>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" name="SUBMIT" class="btn btn-primary btn-lg">SUBMIT</button>
          </div><br>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- Add Bootstrap JS and Popper.js scripts here -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
